<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-play-default-sounds" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>PlayDefaultSounds</name>
    <js-module name="PlayDefaultSounds" src="www/PlayDefaultSounds.js">
        <clobbers target="window.PlayDefaultSounds"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PlayDefaultSounds">
                <param name="android-package" value="de.einfachhans.PlayDefaultSounds.PlayDefaultSounds"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/PlayDefaultSounds.java"
                     target-dir="src/de/einfachhans/PlayDefaultSounds"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PlayDefaultSounds">
                <param name="ios-package" value="PlayDefaultSounds"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PlayDefaultSounds.h"/>
        <source-file src="src/ios/PlayDefaultSounds.m"/>
    </platform>
</plugin>
